#showProduct {
    width: 50%; height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: -600px;
}
#buttons {
    width: 600px; height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.category {
    font-weight: bold;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.orderButton {
    width: 150px; height: 70px;
    font-size: 22px;
    font-weight: bold;
    border: 5px solid rgb(231, 231, 100);
    border-radius: 8px;
    background-color:  rgb(231, 231, 100);
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    margin: 30px 30px;
    color: black;
}